/*
    SETTINGS
*/
@import url('https://fonts.googleapis.com/css?family=Sarabun');

:root {
    --color-alpha: #DE4831;
    --color-beta:  #E1DECB;
    --color-dark:  #221E21;

    --gutter:        24px;
}

/*
    ELEMENTS
*/

body,
html {
    /* Positioning */

    /* Box model */

    /* Fonts */
    font-family: 'Sarabun', sans-serif;
    font-size:   17px;
    line-height: 1.6;
    color:       var(--color-dark);

    /* Appearance */

    /* Other styles */
}

/*
    OBJECTS
*/

/*
    Object: Grid
    ---
    CSS Grid
*/

.o-grid {
    display: grid;
    gap:     calc(var(--gutter) * 2);
}

/*
    Object: Hide
    ---
    Hide input fields
*/

.o-hide {
    position: absolute;
    width:    1px;
    height:   1px;
    padding:  0;
    margin:   -1px;
    overflow: hidden;
    clip:     rect(0, 0, 0, 0);
    border:   0;
}

/* 
    COMPONENTS 
*/

/*
    Component: Sidebar
    ---
    Sidebar navigation
*/

.c-sidebar {
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    height:          100vh;
    
    background:      var(--color-beta);
    overflow-x:      auto;
    overflow-y:      hidden;
    box-sizing:      border-box;
    padding:         var(--gutter);
}

.c-sidebar-header {
    display:         flex;
    align-items:     center;
}

.c-sidebar-header__image {
    max-height:      var(--gutter);
}

.c-sidebar-header__title {
    font-size:       2rem;
    margin-left:     calc(var(--gutter) / 2);
}

.c-sidebar-menu {

}

.c-sidebar-counter {
    font-size:      1rem;
    font-weight:    600;
    font-style:     normal;
}

/*
    Component: Menu
    ---
    Menu inside our sidebar
*/

.c-menu__title {
    font-style:     .8rem;
    opacity:        .7;
    text-transform: uppercase;
    margin-bottom:  0;
}

.c-menu__list {
    list-style: none;
    padding:    0;
    margin:     0 0 calc(var(--gutter) * 5);
}

.c-menu__item {

}

.c-menu__link {
    all:            unset;

    font-weight:    600;
    color:          var(--color-alpha);
    letter-spacing: 1px;
    font-size:      1rem;

    will-change:    opacity;
    transition:     opacity 200ms ease-out;

    opacity:        .7;
    cursor:         pointer;
}

.c-menu__link:hover {
    opacity: 1;
}

/*
    Component: Content
    ---
    Our content
*/

.c-content {
    height:        100vh;
    overflow-x:    auto;

    box-sizing:    border-box;
    padding:       var(--gutter) calc(var(--gutter) * 2) var(--gutter) 0;
}

/*
    Component: Countries
    ---
    Style countries
*/

.c-country {
    display:     block;
    opacity:     1;
    cursor:      pointer;

    will-change: opacity;
    transition:  opacity 150ms ease-in-out;
}

.c-country-input:checked + .c-country {
    opacity: .4;
}

.c-country-header {
    display:     flex;
    align-items: center;
}

.c-country-header__name {
    font-size:     1.2rem;
    margin:        0;
}

.c-country-header__flag {
    display:       block;
    width:         auto;
    height:        calc(var(--gutter) / 1.4);
    border-radius: 5px;
    margin-left:   8px;
}

.c-country__native-name {
    opacity: .6;
    margin:  0;
}

/*
    Component: Notifications
    ---
    Notification center
*/

.c-notifications {
    position:        absolute;
    bottom:          0;
    right:           calc(var(--gutter) * 2);

    width:           300px;
}

.c-notification {
    margin:          var(--gutter) 0;
    padding:         calc(var(--gutter) / 2);

    background:    white;
    box-shadow:      1px 1px 2px 1px rgba(30, 30, 30, .1);

    will-change:     opacity;
    opacity:         1;

    transition:      opacity 800ms ease-in-out;
}

.c-notification__header {
    margin:          0;
    font-size:       1.1rem;
}

.c-notification__action {
    all:             unset;

    font-size:       0.9rem;
    color:           var(--color-alpha);
    text-transform:  uppercase;
    text-decoration: underline;

    cursor:          pointer;
    will-change:     opacity;
    opacity:         .5;

    transition:      opacity 200ms ease-in-out;
}

.c-notifcation__action:hover {
    opacity:         1;
}

/* 
    UTILITIES 
*/

/*
    Utility: Grid
    ---
    Utilities to improve our CSS Grid
*/

.u-grid-main-layout {
    min-height:            100vh;
    grid-template-columns: 350px 1fr;
}

.u-grid-overview {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/*
    Utility: Color
    ---
    Helper classes for color
*/

.u-color-alpha {
    color: var(--color-alpha);
}

/*
    Utility: Fade out
    ---
    For the notification animation
*/

.u-fade-out {
    opacity: 0;
}